<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Import</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Import data from CSV
            </div>
            <div class="panel-body">
                <file-upload></file-upload>
                <button type="button" ng-click="send()">Send</button>
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
